<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Администрирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<!--Страница для вывода всех пользователей-->
<div class="container mt-5">
    <h1>Услуги</h1>
    <div th:each="el : ${allServices}" class="alert alert-info mt-2">
        <h3 th:text="${el.serviceName} + ' / ' + ${el.department.name}"/>
        <a th:href="'/manager/all-services/service-details/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
    <div class="pagination justify-content-start">
        <div class="d-flex justify-content-start flex-wrap">
            <a th:href="'/manager'" class="btn btn-secondary mx-auto">Назад</a>
            <a th:href="'/manager/manager-addService'" class="btn btn-success mx-1">Добавить услугу</a>
        </div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>