<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Отзыв об услуги</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style>
        .blue{
            background-color: #4682B4
        }
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <form th:action="'/questionnaire-send/' + ${currentAppeal.id}" method="post" class="row g-3" onsubmit="alert('Спасибо за Ваш отзыв!')">
        <div class="alert alert-info mt-2">
            <h1 th:text="'Отзыв о заявки ' + ${currentAppeal.service.serviceName} + ' / ' + ${currentAppeal.service.department.name}"/>
        </div>
        <div class="p-4 p-md-5 mb-4 text-white rounded blue">
            <h5 class="fst-italic">Вопрос № 1. Ваша оценка оперативности предоставления государственных услуг.</h5>
            <th:block th:switch="${currentAppeal.evaluation_Q1}">
                <div th:case="'0'">
                    <label class="form-check-label">Ответ пользователя: Крайне не доволен</label>
                </div>
                <div th:case="'1'">
                    <label class="form-check-label">Ответ пользователя: Не доволен</label>
                </div>
                <div th:case="'2'">
                    <label class="form-check-label">Ответ пользователя: Больше не доволен, чем доволен</label>
                </div>
                <div th:case="'3'">
                    <label class="form-check-label">Ответ пользователя: Больше доволен, чем не доволен</label>
                </div>
                <div th:case="'4'">
                    <label class="form-check-label">Ответ пользователя: Доволен</label>
                </div>
                <div th:case="'5'">
                    <label class="form-check-label">Ответ пользователя: Весьма довелен</label>
                </div>
            </th:block>
        </div>

        <div class="p-4 p-md-5 mb-4 text-white rounded blue align-items-center">
            <h5 class="fst-italic">Вопрос № 2. Ваша оценка времени ожидания ответа.</h5>
            <th:block th:switch="${currentAppeal.evaluation_Q2}">
                <div th:case="'0'">
                    <label class="form-check-label">Ответ пользователя: Крайне не доволен</label>
                </div>
                <div th:case="'1'">
                    <label class="form-check-label">Ответ пользователя: Не доволен</label>
                </div>
                <div th:case="'2'">
                    <label class="form-check-label">Ответ пользователя: Больше не доволен, чем доволен</label>
                </div>
                <div th:case="'3'">
                    <label class="form-check-label">Ответ пользователя: Больше доволен, чем не доволен</label>
                </div>
                <div th:case="'4'">
                    <label class="form-check-label">Ответ пользователя: Доволен</label>
                </div>
                <div th:case="'5'">
                    <label class="form-check-label">Ответ пользователя: Весьма довелен</label>
                </div>
            </th:block>
        </div>

        <div class="p-4 p-md-5 mb-4 text-white rounded blue">
            <h5 class="fst-italic">Вопрос № 3. Ваша оценка доступности информации о предоставлении государственных услуг.</h5>
            <th:block th:switch="${currentAppeal.evaluation_Q3}">
                <div th:case="'0'">
                    <label class="form-check-label">Ответ пользователя: Крайне не доволен</label>
                </div>
                <div th:case="'1'">
                    <label class="form-check-label">Ответ пользователя: Не доволен</label>
                </div>
                <div th:case="'2'">
                    <label class="form-check-label">Ответ пользователя: Больше не доволен, чем доволен</label>
                </div>
                <div th:case="'3'">
                    <label class="form-check-label">Ответ пользователя: Больше доволен, чем не доволен</label>
                </div>
                <div th:case="'4'">
                    <label class="form-check-label">Ответ пользователя: Доволен</label>
                </div>
                <div th:case="'5'">
                    <label class="form-check-label">Ответ пользователя: Весьма довелен</label>
                </div>
            </th:block>
        </div>

        <div class="p-4 p-md-5 mb-4 text-white rounded blue">
            <h5 class="fst-italic">Вопрос № 4. Ваша оценка компетентности специалиста, предоставлявшего государственную услугу.</h5>
            <th:block th:switch="${currentAppeal.evaluation_Q4}">
                <div th:case="'0'">
                    <label class="form-check-label">Ответ пользователя: Крайне не доволен</label>
                </div>
                <div th:case="'1'">
                    <label class="form-check-label">Ответ пользователя: Не доволен</label>
                </div>
                <div th:case="'2'">
                    <label class="form-check-label">Ответ пользователя: Больше не доволен, чем доволен</label>
                </div>
                <div th:case="'3'">
                    <label class="form-check-label">Ответ пользователя: Больше доволен, чем не доволен</label>
                </div>
                <div th:case="'4'">
                    <label class="form-check-label">Ответ пользователя: Доволен</label>
                </div>
                <div th:case="'5'">
                    <label class="form-check-label">Ответ пользователя: Весьма довелен</label>
                </div>
            </th:block>
        </div>

        <div class="p-4 p-md-5 mb-4 text-white rounded blue">
            <h5 class="fst-italic">Вопрос № 5. Ваши предложения по повышению качества государственных услуг.</h5>
            <textarea class="form-control" name="q5" maxlength="500" wrap="soft" rows="6" disabled th:text="${currentAppeal.textComment_Q5}"></textarea>
        </div>


        <div class="col-12">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a href="javascript:history.go(-1)" class="btn btn-secondary my-2">Назад</a>
        </div>
    </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>