<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>
<body style="background-image: url('/images/fon.jpg')">
<header th:insert="blocks/header :: header"></header>
<main role="main">
<!--    <div class="bg-image d-flex align-items-center" style="background-image: url('/images/fon.jpg'); height: 100vh">-->
<!--    </div>-->

</main>
<!--<div th:insert="blocks/footer :: footer"></div>-->
</body>
</html>